body {
  background-image: url(../assets/seussibles-pattern-01.png);
  object-position: center;
  display: block;
  height: 100%;
  margin: auto;
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	font-size:  32px;
}

p {
	background-color: whitesmoke;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	text-align: center;
	margin: auto auto 88px auto;
	max-width: 900px;
	border-radius: 24px;
	padding: 24px;
}

.header {
	padding: 16px 48px 16px 48px;
	background: rgba(21, 26, 33, 0.8);
	color: snow;
}

.content {
	padding: 24px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

.sticky + .content {
	padding-top: 102px;
}